# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Environments
# =========================
.venv/
venv/
env/
.conda_env/
mujoco_pin/
conda-env/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Local task tracker (not for version control)
# =========================
TODO.md

# =========================
# Logs & large files
# =========================
*.log
hand_landmarker.task
*.pt
*.png